/* general */
body {
    background: #ececec;
}
select:focus {
    outline: none;
}
ul {
    list-style-type: none;
}
.notvisible {
    display: none;
}
/* heading section */
#heading {
    background: #039BE5;
    padding: 0 1em;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
#heading h1 {
    font-size: 2em;
    color: #fff;
    margin: 0;
    padding: 1em 0;
}

/* mobile ready */
@media screen and (min-width: 0) {
    .search {
        display: none;
    }
    .tabs {
        display: block;
        overflow: hidden;
        padding: 0;
    }
    .tabs li {
        float: left;
        width: 33.333333%;
    }
    .tabs li a {
        display: block;
        text-align: center;
        padding: 0.9em 0;
        font-size: 1em;
        color: #000;
        background: #fff;
        border-radius: 2px;
        margin: 0 0.4em 0.8em;
        
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .tabs li a:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
    .tabs .child {
        padding: 0;
        display: none;
        position: absolute;
        z-index: 10;
        left: 3%;
        width: 94%;
        margin-top: -6px;
        -webkit-box-shadow: 0 0 4px rgba(0,0,0, 0.4);
        box-shadow: 0 0 4px rgba(0,0,0, 0.4);
    }
    .tabs .child li {
        float: none;
        width: 100%;
    }
    .tabs .child li a {
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid #ddd;
    }
    .tabs .child li a:hover {
        background: rgb(0, 160, 239);
    }
    
    .nav li a {
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        border-radius: 50%;
        position: fixed;
        bottom: 1em;
        z-index: 10;
        text-align: center;
        display: block;
        padding: 0;
        background: #F44336;
        color: #fff;
        font-size: 2em;
        font-stretch: condensed;
        -webkit-box-shadow: 0 3px 4px rgba(0,0,0, 0.2);
        box-shadow: 0 3px 4px rgba(0,0,0, 0.2);
        
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .nav li a:hover,
    .nav li a:focus {
        background: #C62828;
    }
    .nav li a.prev {
        left: 1em;
    }
    .nav li a.next {
        right: 1em;
    }
    .col-xs-12 .resultblock {
        margin-top: 1em;
    }
    
}
/* tablet or desktop version */    
@media screen and (min-width: 768px) {
    .tabs {
        display: none;
    }
    .search {
        display: block;
        overflow: hidden;
        padding-bottom: 1em;
    }
    .search select {
        border:0;
        padding: 1em;
        width: 31.333333%;
        margin: 0 1%;
        border-radius: 2px;
    }
    .search select:first-child {
        margin-left: 0;
        width: 32.333333%;
    }
    .search select:last-child {
        margin-right: 0;
        width: 32.333333%;
    }
}

/* contents */
#content h1 {
    font-size: 1.5em;
    padding: 0em 1em 0.5em;
    font-weight: 300;
    color: #9D9D9D;
}
.resultblock {
    display: none;
    background: #fff;
    width: 90%;
    margin: 0 auto 1em;
    padding: 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    border-bottom: 1px solid rgba(255,255,255,0.01);
}
.resultblock h2 {
    background: #039BE5;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    margin: 0;
} 
.resultblock p {
    text-align: center;
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}
.resultblock p.negative {
    background: #F5F5F5;
}
.resultblock p:last-child {
    border-bottom: 0;
}
p.alert {
    background: url(../images/eye-off.png) center 6em no-repeat;
    font-weight: bold;
    padding: 10em 0 8em;

}
